@page
@model RestoStockDB.Pages.DetallePlatos.CreateModel
@{
    ViewData["Title"] = "Crear Detalle de Plato";
}
<h1>Crear Detalle de Plato</h1>
<h4>Detalle de Plato</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DetallePlato.Id" class="control-label">Plato</label>
                <select asp-for="DetallePlato.Id" asp-items="@(new SelectList(ViewData["IdPlato"] as IEnumerable<SelectListItem>))" class="form-control">
                    <option value="">-- Seleccione un plato --</option>
                </select>
                <span asp-validation-for="DetallePlato.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetallePlato.IdIngrediente" class="control-label">Ingrediente</label>
                <select asp-for="DetallePlato.IdIngrediente" asp-items="@(new SelectList(ViewData["IdIngrediente"] as IEnumerable<SelectListItem>))" class="form-control">
                    <option value="">-- Seleccione un ingrediente --</option>
                </select>
                <span asp-validation-for="DetallePlato.IdIngrediente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetallePlato.Cantidad" class="control-label">Cantidad</label>
                <input asp-for="DetallePlato.Cantidad" class="form-control" />
                <span asp-validation-for="DetallePlato.Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Crear" class="btn btn-success" />
                <a asp-page="./Index" class="btn btn-primary">Volver al Listado</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
