@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"><strong>PROYECTO FINAL</strong></h1>
    <p>PRESENTADO POR : SOFIA MENDEZ - EVELYN PULGARIN - HANS LEMMEL</p>
</div>
